<!DOCTYPE html>
<br lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RP3CD</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="../home.css" />
  <link rel="stylesheet" href="../style.css" />

  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-app.js";
    import {
      getFirestore,
      collection,
      getDocs,
    } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-firestore.js";

    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCXyb94zGNBh9z4lg_jQYzbUoI2EDQ5rJs",
      authDomain: "rp3cd-9c37b.firebaseapp.com",
      projectId: "rp3cd-9c37b",
      storageBucket: "rp3cd-9c37b.appspot.com",
      messagingSenderId: "749174695525",
      appId: "1:749174695525:web:1a899ccf7c9a8cb35ac88c",
      measurementId: "G-845SC2N1F5",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    // Fetch news data from Firestore
    async function fetchNews() {
      const newsCol = collection(db, "news");
      const newsSnapshot = await getDocs(newsCol);
      const newsList = newsSnapshot.docs.map((doc) => doc.data());
      return newsList;
    }

    import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'

    const newsApp = reactive({
      news: [],
      isLoading: true,
      async fetchNewsFromFirebase() {
        const fethedNews = await fetchNews();
        fethedNews.sort((a, b) => b.datePosted.seconds - a.datePosted.seconds);
        this.news = fethedNews.map(item => ({
          ...item,
          datePosted: this.formatDate(item.datePosted),
        }));
        this.isLoading = false;

      },
      formatDate(datePosted) {
        if (datePosted && datePosted.seconds) {
          const date = new Date(datePosted.seconds * 1000);
          const day = date.getDate();
          const month = date.getMonth() + 1; // JavaScript months are 0-indexed.
          const year = date.getFullYear();

          return `${day}/${month}/${year}`;
        }
        return '';
      },
    });

    newsApp.fetchNewsFromFirebase();

    createApp({ newsApp }).mount("#news-container");


    // newsApp.mount('#news-container');
  </script>

</head>

<br>
<nav class="home-head">
  <img src="../public/external/logo%20rp3cd-200h.png" alt="image" class="home-image" />
  <div class="home-menu">
    <a href="/index.html#inicio" class="home-link08 button">Início</a>
    <a href="/index.html#a-rede" class="home-link08 button">A rede</a>
    <a href="/index.html#objetivos" class="home-link09 button">
      Objetivos
    </a>
    <a href="/index.html#plano-de-acoes" class="home-link10 button">
      Plano de ações
    </a>
    <a href="/index.html#contato" class="home-link11 button">
      Contato
    </a>
    <a href="/pages/news.html" class="home-link12 button">
      Notícias</a>
    <a href="/pages/photos.html" class="home-link13 button">
      Fotos</a>
  </div>
</nav>

<section id="a-news" class="home-div" data-theme="light">
  <span class="home-text004 h2"><span>Notícias</span></span>

  <div id="news-container">
    <div class="home-texto">
      <!-- Spinner is shown while news are loading -->
      <div v-if="newsApp.isLoading">
        <p aria-busy="true"></p>
      </div>

      <!-- News are shown when loading is finished -->
      <div class="grid" v-else>
        <div class="column-xs-12 column-md-4" v-for="item in newsApp.news">
          <article data-theme="light">
            <header>{{item.datePosted}} - {{item.title}}</header>
            {{item.subTitle}} <a :href="item.url" class="card-link" target="_blank">Leia Mais</a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- START OF NEWS DISPLAY -->
<!-- <div id="news-container">
  <div v-for="item in news">
    <p>macaco 2</p>
    <h2>{{item.title}}</h2>
    <p>{{item.url}}</p>
  </div>
</div> -->



</body>

</html>