.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.grid img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
